* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.tools-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tools-content {
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: aliceblue;
}

.tools {
    height: 55%;
    width: 10%;
}

.tools img {
    height: 100%;
    width: 100%;
}
.sticky {
    position: absolute;
    top: 200px;
    left: 300px;
    height: 200px;
    width: 250px;
    /* background: bisque; */
}
.sticky-header
{
    height: 13%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-color: burlywood;
}
.sticky-header div{
    margin-right: 10px;
    height: 70%;
    width: 7%;
    border-radius: 50px;
}
.minimise
{
    background: lightskyblue;
}
.close{
    background: lightcoral;
}
.sticky-content
{
    height: 87%;
    background: lightsteelblue;
    border-bottom-right-radius: 20px;
    outline: none;
    padding: 10px;
}
.active-tool{
 transform: scale(1.2);
}
.fade{
  opacity: 0.5;
}